.ideaListcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ideaContainer {
    padding-left: 10px
}

@media (max-width: 500px) {
    .ideaListcontainer {
        flex-direction: column;
    }

    .ideaContainer {
        padding-top: 10px;
        padding-left: 0px;
    }
}

  