.cardlistContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ideaContainer {
  /* padding-left: 10px; */
}

@media (max-width: 500px) {
  .CardListcontainer {
    flex-direction: column;
  }

  .ideaContainer {
    padding-top: 10px;
    padding-left: 0px;
  }
}
