.container {

  width: 100vw;
  padding: 40px;   
}

.appTitle {
  text-align: center;
}

.ideasContainer {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 500px) {
  .ideasContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}